<div id="<%= dom_id agenda %>">
    <p>
    <strong>Foto:</strong>
    <%= image_tag agenda.icon_url %>
  </p>
  <p>
    <strong>Nome:</strong>
    <%= agenda.name %>
  </p>

  <p>
    <strong>Número:</strong>
    <%= agenda.number %>
  </p>
  
  <p>
    <strong>Email:</strong>
    <%= agenda.email %>
  </p>
  
  <p>
    <strong>Endereço:</strong>
    <%= agenda.adress %>
  </p>
</div>
