<p style="color: green"><%= notice %></p>

<%= render @agenda %>

<div>
  <%= link_to "Editar agenda", edit_agenda_path(@agenda) %> |
  <%= link_to "Voltar", agendas_path %>

  <%= button_to "Excluir contato", @agenda, method: :delete %>
</div>
